<!DOCTYPE html>
<html lang="en-US">
<h1>User Management</h1>
<head>
  <title></title>
</head>
<body>
  <div class="container">
    <% if !flash.empty? %>
      <div class="row" id="flash">
        <% if flash.key?(:notice) %>
        <div class="span6 offset3 alert alert-success">
          <%= flash[:notice] %></p>
        </div>
        <% elsif flash.key?(:error) %>
        <div class="span9 offset3 alert alert-error">
          <%= flash[:error] %></p>
        </div>
        <% end %>
        <script type="text/javascript">
          $(function(){
              $("#flash").fadeOut(2000);
          });
        </script>
      </div>
    <% end %>
    <div class="row">
      <div class="span12 offset2">
        <span id="header"></span>
      </div>
      <div class="row">
        <nav id="navigation">
          <% if signed_in? %>
          <div class="span2">
            <%= link_to 'Logout', url(:sessions, :destroy) %>
          </div>
          <div class="span2">
            <%= link_to 'Edit Profile', url(:usersapp, :edit, :id => session[:current_user]) %>
          </div>
          <div class="span2">
            <%= link_to 'Read User', url(:usersapp, :readuser, :id => session[:current_user]) %>
          </div>
            <!--
            <li class="dropdown">
              <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">User Actions<b class="caret"></b></a>
              <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                <li role="presentation"><a tabindex="-1" href="#">View Profile</a></li>
                <li role="presentation"> <%= link_to 'Edit Profile', url(:usersapp, :edit, :id => session[:current_user]), :tabindex => '-1' %></li>
                <li role="presentation"><a tabindex="-1" href="#">My Job Offers</a></li>
                <li role="presentation"><a tabindex="-1" href="#">Add New Job Offer</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><%= link_to 'Logout', url(:sessions, :destroy), :tabindex => '-1' %></li>
              </ul>
            </li>
            -->
          <% else %>
          <div class="span3">
            <%= link_to 'Login', url(:usersapp, :redirecting,:client_id => "8wwncodsjcajmmw1yutgnjc5kfmad7j", :response_type=>"token" , :redirect_uri=>"localhost:3000") %>
          </div>
              <div class="span3">
                <%= link_to 'Create', url(:usersapp, :new) %>
              </div>

          <% end %>
        </nav>
      </div>
      <div class="row">
        <div class="span9 offset3 site">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
